<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="linlizuzu.mapper.ZuGoodMapper">

    <resultMap id="BaseResultMap" type="linlizuzu.entity.ZuGood">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="goodname" column="goodname" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DOUBLE"/>
            <result property="img" column="img" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="useravatar" column="useravatar" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goodname,price,
        img,username,useravatar,
        status,deleted
    </sql>
</mapper>
